<script src="/static/observable-slim.min.js"></script>
<script src="/static/shop.js" id="shop-script" data-product-types='{{{json productTypes}}}' defer></script>

<div class="devider"></div>
<div class="container"><div class="header">Lunch</div></div>
<div class="devider"></div>

<div class="shop">
	<div class="categories">
		{{#each categories}}
			<div id="categorie-{{this}}" class="categorie container">{{capitalizeFirstLetter this}}</div>
		{{/each}}
	</div>
	<div></div>
	<div class="container products">
		{{#each categories}}
			<div class="categorie-pane" id="categorie-pane-{{this}}">
				{{#each (lookup ../products this)}}
					<div class="product" onclick='addToCart(JSON.parse(`{{{json this}}}`))'>
						<div class="title">{{this.title}}</div>
						<div class="summary">{{{this.summary}}}</div>
						<div class="price">{{formatPrice this.price}}</div>
					</div>
				{{/each}}
			</div>
		{{/each}}
	</div>
	<div class="container cart">
		<div class="header">Bestelling</div>
		<div  id="cart-items" class="cart-items">
		</div>
		<div class="total">
			<div class="title">Totaal</div>
			<div class="title price" id="total">{{formatPrice 2}}</div>
		</div>
		<div class="date">
			<input type="date" />
		</div>
		<div class="order">Bestellen</div>
	</div>
</div>